.comm{
    display: flex;
    flex-direction: column;
 overflow-y: scroll;
    height: 140px;
   
}
.ssw{
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
}
.name{
    border-bottom: 1px solid black;
    font-size: bold;
    
}
::-webkit-scrollbar-track {
    background: grey;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  